<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vos Emails</title>
  </head>
  <body>
    <h1> Vous avez un Email </h1>

    <br><br>

    <center>
    <div class="card" style="width: 26rem; ">
      <div class="card-body">
        <h5 class="card-title"><%= @email.object %></h5>
        <p class="card-text"><%= @email.body %></p>
        <a href="#" class="btn btn-outline-secondary">Marquer comme non lu</a>
        <%= link_to "Supprimer", email_path(),  method: :delete, data-confirm="êtes vous sur?" class: "btn btn-ouline-danger", remote: true %>
      </div>
    </div>
    </center>
  </body>
</html>
